.library {
  position: fixed;
  height: 100%;
  width: 25%;
  top: 0;
  left: 0;
  background-color: rgb(100, 100, 100);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  transform: translateX(-100%);
  transition: all 0.3s ease;
  opacity: 0;

  &-active {
    transform: translate(0);
    opacity: 1;
  }

  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #e1e1e1;
    border-radius: 5rem;
  }

  &__title {
    font-size: 2rem;
    padding: 1rem 1rem 1rem 5rem;
  }

  &__list {
    @include flexbottom;
  }

  &__song {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    padding: 1.5rem 3rem;
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover {
      background-color: lighten(lightcoral, 15%);

      & .song__details {
        color: rgb(22, 22, 22);
      }
    }

    img {
      width: 30%;
      border-radius: 1rem;
    }
  }
}

.song {
  &__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 3rem;
    font-size: 2rem;
    color: #e1e1e1;
  }
}

.active {
  background-color: lightcoral;
}
